body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background-image: url("bgbg3.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
}
#btn-submit{
    background-color: #000;
    color: #fff;
}